/* color and style influenced by https://dribbble.com/shots/2345757-Da-Dum-Dum-Drums  */

:root {
  --cymbal: #ee3f4a;
  --drum-head: #f1efdf;
  --drum-head-hit:  radial-gradient(at center, #EEF1D5, #7D7F6B);
  --black: #000104; /* counter top stands sticks lug casing ... and text */
  --drum-shell: #f7a828;
  --stage-width: 316px;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  color: var(--black);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body,html {
  margin: 0;
  padding: 0;

}

h1 {
  font-family: "Truculenta", sans-serif;
  font-optical-sizing: auto;
  font-size: 3rem;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-align: center;
}


.drumkeys {
  display: block;
  height: 40rem;
  margin: 0 auto;
  position: relative;
  width: var(--stage-width);

  /* remove later  */
  background: rgb(159, 158, 158);

}

.drumkeys .key {
  align-items: center;
  display:flex;
  flex-direction: column;
  font-size: 2rem;
  justify-content: center;
  position: absolute;
}



/* temp styling. remove later. just for transition  */
.testing-remove-later {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  transition: all .09s ease;
  border: .3rem solid darkorange;/* change later. drums and cymbals will look diff*/
  background: antiquewhite; 
}
/* CHANGE PER INSTRUMENT */
.testing-remove-later.hit {
  /* transform: scale(1.2); */
  /* border-color: orangered; */
}


/* APPLIED TO ALL KEYS / DRUMS AND CYMBALS  */


/* DRUMSY THINGS:  */
.kick, .snare, .tom {
  border: 5px solid var(--black);
  background-color: var(--drum-head);
}

/* KICK CENTER. BIGGEST  */
.key.kick {
  width: 18rem;
  height: 18rem;
  top: 50%;
  left: calc((var(--stage-width) - 18rem) / 2);
  transition: all .09s ease;
}

.kick.hit {
  background: var(--drum-head);
  background: var(--drum-head-hit);
  box-shadow: 0px -6px 10px 0px var(--black);
}

.kick .kick-extra {
  position: absolute;
  height: 20px;
  top: 155px;
  left: 22px;
  transform: rotate(45deg);
  width: 10px;
  background: var(--black);
}

.kick .kick-extra::after {
  content: '';
  position: absolute;
  height: 20px;
  top: -80px;
  left: 81px;
  transform: rotate(-90deg);
  width: 10px;
  background: var(--black);
}




.mallets {
  display: none;
}


@media screen and (min-width: 600px) {
  .mallets {
    display: block;
  }
}

@media screen and (min-width: 900px) {
  :root {
    --stage-width: 745px;
  }

}

@media screen and (min-width: 1100px) {

}

